/* Styles for every non numbered html file */
h1 {
    text-align: center;
    color: white;
    font-size: 50px;
}
a {
    height: 10em;
    display: flex;
    align-items: center;
    justify-content: center
}
img {
    width: 100px;
    height: auto;
}
body {
    background-image: url('assets/maze.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}